<div class="max-w-7xl mx-auto px-4">
  <form [formGroup]="createPostForm" (ngSubmit)="onFormSubmit()">
    <h1 class="text-3xl mt-8 mb-4 font-extrabold">Create Post</h1>

    <div class="mt-4">
      <label for="title" class="w-full">Title</label>
      <input
        type="text"
        class="bg-neutral-100 w-full px-4 py-2 mt-2"
        placeholder="Enter a title for your post"
        autocomplete="off"
        formControlName="title"
      />

      @if (title.invalid && (title.dirty || title.touched)) { @if
      (title.hasError('required')) {
      <p class="text-red-700 text-sm mt-1">Title is required</p>
      } @if (title.hasError('minlength')) {
      <p class="text-red-700 text-sm mt-1">
        Title must be atleast 6 characters
      </p>
      } @if (title.hasError('maxlength')) {
      <p class="text-red-700 text-sm mt-1">
        Title must not exceed 100 characters
      </p>
      } }
    </div>

    <div class="mt-4">
      <label for="content" class="w-full">Content</label>
      <div class="flex gap-4">
        <textarea
          class="bg-neutral-100 w-full px-4 py-2 mt-2 h-[200px]"
          placeholder="Post content"
          formControlName="content"
          (keyup)="onContentChange()"
        >
        </textarea>
        <div
          class="bg-neutral-100 w-full px-4 py-2 mt-2 h-[200px] blog-content"
        >
          <markdown [data]="contentData()"> </markdown>
        </div>
      </div>

      @if (content.invalid && (content.dirty || content.touched)) { @if
      (content.hasError('required')) {
      <p class="text-red-700 text-sm mt-1">Content is required</p>
      } @if (content.hasError('maxlength')) {
      <p class="text-red-700 text-sm mt-1">
        Content must not exceed 3000 characters
      </p>
      } }
    </div>

    <div class="mt-4">
      <input
        type="file"
        class="hidden"
        (change)="onCoverImageSelected(coverImageFileInput)"
        #coverImageFileInput
      />
      <button
        class="border rounded px-4 py-2"
        (click)="coverImageFileInput.click()"
      >
        Add Cover Image
      </button>
    </div>

    @if (createPostForm.getRawValue().coverImageUrl) {
      <div class="mt-4">
        <img [src]="createPostForm.getRawValue().coverImageUrl" class="w-[200px]" >
      </div>
    }

    <div class="mt-4">
      <button
        type="submit"
        class="px-4 py-2 rounded bg-indigo-500 text-white disabled:opacity-50 disabled:cursor-not-allowed"
        [disabled]="createPostForm.valid === false"
      >
        Publish
      </button>
    </div>
  </form>
</div>
