<div class="max-w-7xl mx-auto px-4">
  <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">
    <h1 class="text-3xl mt-8 mb-4 font-extrabold">Register</h1>

    <div class="mt-4">
      <label class="w-full">Email</label>
      <input
        type="text"
        class="bg-neutral-100 w-full px-4 py-2 mt-2"
        placeholder="Enter email address"
        autocomplete="off"
        formControlName="email"
      />

      @if (emailControl.invalid && (emailControl.dirty || emailControl.touched))
      { @if (emailControl.hasError('required')) {
      <div class="text-red-500 mt-2 text-sm">Email is required</div>
      } @if (emailControl.hasError('email')) {
      <div class="text-red-500 mt-2 text-sm">
        Email is not in a correct format
      </div>
      } }
    </div>

    <div class="mt-4">
      <label class="w-full">Password</label>
      <input
        type="password"
        class="bg-neutral-100 w-full px-4 py-2 mt-2"
        autocomplete="off"
        formControlName="password"
      />

      @if (passwordControl.invalid && (passwordControl.dirty ||
      passwordControl.touched)) { @if (passwordControl.hasError('required')) {
      <div class="text-red-500 mt-2 text-sm">Password is required</div>
      } @if (passwordControl.hasError('minlength')) {
      <div class="text-red-500 mt-2 text-sm">
        Password should be at least 6 characters
      </div>
      } @if (passwordControl.hasError('maxlength')) {
      <div class="text-red-500 mt-2 text-sm">
        Password should not be more than 20 characters
      </div>
      } }
    </div>

    @if (this.errorMessage()) {
      <div class="bg-red-100 p-4 mt-2 text-sm">
        {{ this.errorMessage() }}
      </div>
    }

    <div class="mt-4">
      <button
        class="px-4 py-2 rounded bg-indigo-500 text-white disabled:opacity-50 disabled:cursor-not-allowed"
        [disabled]="registerForm.invalid"
      >
        Register
      </button>
    </div>
  </form>
</div>
